{% extends "bootstrap/base.html" %}
{% block scripts %}

{{super()}}
{% endblock %}

{% block title %}Scoot Locations{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline">
        <li>
          <button class="btn btn-primary" id="beginning">
          <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> Beginning
          </button>
        </li>
        <li><button class="btn btn-primary" id="previous">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>Previous</button></li>
        <li>
          <button type="button" class="btn btn-primary" id="play">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" id="pause">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause
          </button>
        </li>
        <li><button type="button" class="btn btn-primary" id="next">
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> Next
        </button>
        </li>
        <li>
          <button class="btn btn-primary" id="end">
            <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> End
          </button>
        </li>
      <li id="timestamp"></li>
        <li>Average charge: <span id="charge"></span></li>
        <li>Scooters available: <span id="available"></span></li>
        <li>Scootilization: <span id="scootilization"></span></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="map">

      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <h3>Average Charge</h3>
    <div id="charge-chart" style="width: 100%; height: 500px"></div>
  </div>
  <div class="col-sm-6">
    <h3>Scootilization</h3>
    <div id="scootilization-chart" style="width: 100%; height: 500px"></div>
  </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
  <script src="{{url_for('.static', filename='js/moment.js')}}"></script>
  <script src="{{url_for('.static', filename='js/metricsgraphics.min.js')}}"></script>
  <script src="{{url_for('.static', filename='js/scoot.js')}}"></script>

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvdIELfqzn3SzzvnOKmyt1G1lwazG8Dj8&callback=initMap">
  </script>


  <link rel="stylesheet" href="{{url_for('.static', filename='css/metricsgraphics.css')}}" />
  <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}" />
{% endblock %}
