{% extends "bootstrap/base.html" %}
{% block scripts %}
<script src="{{url_for('.static', filename='js/scoot.js')}}"></script>
{{super()}}
{% endblock %}

{% block title %}Scoot Locations{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>Scoot Locations</h1>
  {% for scooter in scooters %}
    <div>
    {{ scooter.id }}
    {{ scooter.latitude }}
        {{ scooter.longitude }}
    </div>
  {% endfor %}
{% endblock %}
