{% extends "bootstrap/base.html" %}
{% block scripts %}

{{super()}}
{% endblock %}

{% block title %}Scoot Locations{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>Scoot Locations</h1>
  <div id="map">

  </div>
  {% for scooter in scooters %}
    <div>
    {{ scooter.id }}
    {{ scooter.latitude }}
        {{ scooter.longitude }}
    </div>
  {% endfor %}
  <script src="{{url_for('.static', filename='js/scoot.js')}}"></script>

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvdIELfqzn3SzzvnOKmyt1G1lwazG8Dj8&callback=initMap">
  </script>
  <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}" />
{% endblock %}
